# This is a sample configuration file for code_swarm

# Input file
InputFile=log.xml

# Color assignment rules
# Keep in order, do not skip numbers. Numbers start
# at 1.
# 
# Pattern:  "Label", "regex", R,G,B, R,G,B
# Label is optional.  If it is omitted, the regex
# will be used.
#
ColorAssign1="Tests","(t/.*|.*\.t)", 90,225,90, 110,200,90
ColorAssign2="Localizations","(.*(\.mo|\.po))|(.*\.lproj.*)", 90,90,90, 100,90,110
ColorAssign3="C Code",".*(\.c|\.cpp|\.h)", 225,90,90, 200,90,110
ColorAssign4="Documents/Images",".*(\.txt|\.html|\.tex|\.tmpl|\.css|\.xml|\.yml|\.json|\.png|\.jpg|\.gif|\.jpeg|Changes.*|ChangeLog|CHANGES.*|README|COPYING|LICENSE|AUTHORS|INSTALL|\.pod|\.man|\.1|\.3)", 90,90,225, 90,110,200
ColorAssign5="Perl Code","(.*(\.pm|\.pl|\.ph)|[a-zA-Z0-9]+)", 90,255,255, 110,200,200


# Where to save each frame
SnapshotLocation=code_swarm_frames/#####.png



#Is the input xml sorted by date?  It's faster and uses much less memory if it is
IsInputSorted=true
#  - All of the given scripts for producing repository xml files produce sorted data
#  - Please file a bug if one doesn't


# To use local avatars, uncomment this line:
#AvatarFetcher=LocalAvatar

# then place png files named after the usernames of committers in 
# the data/local_avatars directory
# data/local_avatars/default.png is used by default

FileMass=80.0
FileLife=512
PersonLife=512
PersonMass=400.0
FileDecrement=-1
AvatarFetcher=NoAvatar
Width=1024
Height=750
FramesPerDay=3
MaxThreads=4
HighlightPct=4

Font=SansSerif
FontSize=10
FontColor=255,200,200

UseOpenGL=true

TakeSnapshots=false

ShowHistory=true
